<!doctype html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8"> 
	<title>{{ pageTitle }}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <!-- Navbar expected on every page -->
    {% include 'navbar.njk' %}
	{% block content %}{% endblock %}
    <footer id="page-footer">
	    {% block footer %}{% endblock %}
    </footer>
</body>
<script src="js/main.js"></script>
</html>
