<div class="nav">
    <!-- When checked, expands hamburger menu in mobile view -->
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-logo">
        <img class="logo-img" src="{{ logo.url }}" aria-label="{{ logo.description }}" />
        </div>
    </div>
    <!-- Hamburger menu elements -->
    <div class="hamburger-btn" aria-hidden="true">
        <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        </label>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
    </div>
</div>